
<header>
        <div class="menu" style="text-align:center">
              <a routerLink="/home"><img src="assets/img/logo.png" alt="imagem" style="float: left; width: 200px; padding: 1em;" /></a>
              <nav>
                  <a routerLink="/home">Home</a>
                  <a routerLink="/cuidadores">Nossos Cuidadores</a>
                  <div class="dropdown">
                        <a routerLink="#">Cadastre-se</a>
                        <div class="dropdown-content">
                            <a routerLink="/cadastro-cuidador">Cuidador</a>
                            <a routerLink="/cadastrar">Tutor</a>
                        </div>
                    </div>
              </nav>
              <a routerLink="/login"><button>Login</button></a>
              <!--<button (click)="logout()">deslogar</button>-->
        </div>        
</header>   


<router-outlet></router-outlet>

    
